<div class="modal-container">
    <div class="modal-header">
            <p id="title">Cadastro de Produto</p>
            <button id="close" (click)="closeModal()" class="btn-close"> <fa-icon [icon]="faXmark"></fa-icon></button>
    </div>
    <div class="modal-content">

    </div>
    <div class="modal-footer">
        <button id="cancel" (click)="cancel()" class="btn-footer">Cancelar</button>
        <button id="confirm" (click)="confirm()" class="btn-footer">Salvar</button>
    </div>
</div>