.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font {
    color: rgb(192, 192, 192);
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-container {
    user-select: none;
    display: flex;
    height: 10%;
    max-height: 90px;
    min-height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-around;


    background-color: rgb(0, 134, 152);
    color: white;
    font-size: 20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 40%;
    height: 100%;

}

.option:hover {
    cursor: pointer;
    box-shadow: 0px 3px 0px 0px rgb(0, 173, 196);
}

.option {
    width: 50%;
    height: 90%;

    color: white;
    background-color: rgb(0, 134, 152);
    font-size: 20px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: box-shadow 300ms, color 300ms;
}

.activeOption {
    width: 50%;
    height: 85%;

    color: white;
    background-color: rgb(0, 173, 196);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* box-shadow: 0px 3px 0px 0px  rgb(0, 173, 196); */
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: box-shadow 300ms, color 300ms;
}

.row-logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    min-width: 250px;
}

.imagem {
    max-width: 70px;
    max-height: 60px;
    min-width: 50px;
}