<div class="component-container">
    <div class="action-row">
        <Button class="btn" (click)="backScreen()"><fa-icon id="back"
                [icon]="faBackward" /><strong>Voltar</strong></Button>
        <Button class="btn" (click)="openNewScreen()">Novo<fa-icon [icon]="faPlusCircle" /></Button>
    </div>
    <div class="list-view-container">
        @if(dataComponentService.objectsList().length == 0){
        <div>
            <img src="assets/empty.png" height="200" alt="">
        </div>
        } @else {
        <div class="row-list" style="justify-content: space-between; border: none;">
            @for (col of dataComponentService.record?.columns; track col) {
            <div class="column-view">
                <strong>
                    {{col.label}}
                </strong>
            </div>
            }
            <strong class="controls-container">AÇÕES</strong>
        </div>
        @for (item of dataComponentService.objectsList() ; track item) {
        <div (click)="openModalWithItem(item)" class="row-list">
            @for (column of dataComponentService.record?.columns; track column.field) {
            <span class="item-view">
                <div class="column-view">
                    <i class="field" [title]="`${item[column.field]}`">
                        {{item[column.field]}}
                    </i>
                </div>
                @if (column.label == "ID") {
                <fa-icon id="copy" (click)="copyId(item.id)" [title]="`Copiar ${column.label}`" [icon]="faCopy" />
                }
            </span>
            }
            <div class="controls-container">
                <fa-icon (click)="deleteItem(item.id)" id="delete" [icon]="faTrashCan" />
                <fa-icon (click)="editItem(item)" id="edit" [icon]="faEdit" />
                <fa-icon (click)="viewItem(item)" id="view" [icon]="faEye" />
            </div>
        </div>
        }
        }
    </div>
</div>