<div class="list-view-container">
    @if(dataComponentService.loading){
    <div>
        <h1>Carregando...</h1>
    </div>
    } @else {
    <div class="new-row">
        <Button (click)="adicionar()" class="btn-new">Adicionar <fa-icon [icon]="faPlusCircle" /></Button>
    </div>
    @for (item of dataComponentService.objectsList() ; track item) {
    <div class="row-list">
        @for (column of dataComponentService.record?.columns; track column.field) {
        <span class="item-view">
            <div class="column-view">
                <strong>
                    {{column.label}}:
                </strong>
                <i class="field" [title]="`${item[column.field]}`">
                    {{item[column.field]}}
                </i>
            </div>
            <fa-icon id="copy" [title]="`Copiar ${column.label}`" [icon]="faCopy" />
        </span>
        }
        <div class="controls-container">
            <fa-icon (click)="deleteItem(item)" id="delete" [icon]="faTrashCan" />
            <fa-icon (click)="editItem(item.id)" id="edit" [icon]="faEdit" />
            <fa-icon (click)="ViewItem(item.id)" id="view" [icon]="faEye" />
        </div>
    </div>
    }
    }
</div>