<div class="list-view-container">
    @for (item of items(); track item.id) {
        <div class="row-list">
            @if (option() == 'Fornecedores') {
                <span>ID: {{item.id}}</span>
                <span>Nome: {{item.nome}}</span>
                <span>CNPJ: {{item.cnpj}}</span>
            } @else if(option() == 'Categorias'){
                <span>ID: {{item.id}}</span>
                <span>Título: {{item.nome}}</span>
                <span>Descrição: {{item.descricao}}</span>
            } @else if (option() == 'Produtos') {
                <span>ID: {{item.id}}</span>
                <span>Nome: {{item.nome}}</span>
                <span>Descrição: {{item.descricao}}</span>
            } @else {
                <span>ID: {{item.id}}</span>
                <span>Tipo: {{item.tipo}}</span>
                <span>Quantidade: {{item.quantidade}}</span>
                <span>Produto: {{item.produto ?? "Não Informado"}}</span>
            }   
        </div>
    }
</div>