<div class="list-view-container">
    @if(dataComponentService.loading){
        <div><h1>Carregando...</h1></div>
    } @else {
    <div class="new-row">
        <Button (click)="adicionar()" class="btn-new">Adicionar <fa-icon [icon]="faPlusCircle"/></Button>
    </div>
    @for (item of dataComponentService.objectsList() ; track item.id) {
        <div class="row-list">
            @if (dataComponentService.selectedOption() == 'Fornecedores') {
                <span><strong>ID: </strong>{{item.id}}</span>
                <span><strong>Nome: </strong>{{item.nome}}</span>
                <span><strong>CNPJ: </strong>{{item.cnpj}}</span>
            } @else if(dataComponentService.selectedOption() == 'Categorias'){
                <span><strong>ID: </strong>{{item.id}}</span>
                <span><strong>Título: </strong>{{item.nome}}</span>
                <span><strong>Descrição: </strong>{{item.descricao}}</span>
            } @else if (dataComponentService.selectedOption() == 'Produtos') {
                <span><strong>ID: </strong>{{item.id}}</span>
                <span><strong>Nome: </strong>{{item.nome}}</span>
                <span><strong>Descrição: </strong>{{item.descricao}}</span>
            } @else if (dataComponentService.selectedOption() == 'Lançamentos'){
                <span><strong>ID: </strong>{{item.id}}</span>
                <span><strong>Tipo: </strong>{{item.tipo}}</span>
                <span><strong>Quantidade: </strong>{{item.quantidade}}</span>
                <span><strong>Produto: </strong>{{item.produto ?? "Não Informado"}}</span>
            }   
        </div>
    }
}
</div>