<div class="grid-cards">
    <div class="card">
        <img class="img-card" src="assets/produtos.png" alt="">
        <p>Produtos</p>
    </div>
    <div class="card">
        <img class="img-card" src="assets/categoria.png" alt="">
        <p>Categorias</p>
    </div>
    <div class="card">
        <img class="img-card" src="assets/fornecedores.png" alt="">
        <p>Fornecedores</p>
    </div>
    <div class="card">
        <img class="img-card" src="assets/movimentacao.png" alt="">
        <p class="text-card">Movimentações</p>
    </div>
</div>
<div id="space"></div>