<div class="grid-cards">
    <div class="card">
        <img class="img-card" src="assets/produtos.png" alt="">
        <div class="text-card">
            <p>Produtos</p>
            <p class="quant">91</p>
        </div>
    </div>
    <div class="card">
        <img class="img-card" src="assets/categoria.png" alt="">
        <div class="text-card">
            <p>Categorias</p>
            <p class="quant">16</p>
        </div>
    </div>
    <div class="card">
        <img class="img-card" src="assets/fornecedores.png" alt="">
        <div class="text-card">
            <p>Fornecedores</p>
            <p class="quant">21</p>
        </div>
    </div>
    <div class="card">
        <img class="img-card" src="assets/movimentacao.png" alt="">
        <div class="text-card">
            <p>Movimentações</p>
            <p class="quant">185</p>
        </div>
    </div>
</div>
<div id="space"></div>