<div class="grid-cards">
    <div class="card">
        <img class="img-card"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEignc6OCSw8Ti9x6kkGbb9lIIsxOKYDFQ3heRmtCxbaKrPWr3lUTpqnY&s=10"
            alt="">
        <p>Produtos</p>
    </div>
    <div class="card">
        <img class="img-card"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEignc6OCSw8Ti9x6kkGbb9lIIsxOKYDFQ3heRmtCxbaKrPWr3lUTpqnY&s=10"
            alt="">
        <p>Categorias</p>
    </div>
    <div class="card">
        <img class="img-card"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEignc6OCSw8Ti9x6kkGbb9lIIsxOKYDFQ3heRmtCxbaKrPWr3lUTpqnY&s=10"
            alt="">
        <p>Fornecedores</p>
    </div>
    <div class="card">
        <img class="img-card"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEignc6OCSw8Ti9x6kkGbb9lIIsxOKYDFQ3heRmtCxbaKrPWr3lUTpqnY&s=10"
            alt="">
        <p class="text-card">Histórico de Movimentações</p>
    </div>

</div>