<div class="form">
    <app-custom-field label="ID" content="54wd84wd-w1dw-1w-wd4wd-5181d63" fieldType="texto"
        width="2"></app-custom-field>
    <app-custom-field fieldType="spaco" width="8"></app-custom-field>
    <app-custom-field label="Nome" content="José Eduardo Martelli Lemos" fieldType="texto"
        [width]="2"></app-custom-field>
    <app-custom-field label="CNPJ" content="11.222.222/0001-11" fieldType="texto" [width]="2"></app-custom-field>
    <app-custom-field label="Data de Cadastro" content="12/01/2025" fieldType="texto" [width]="1"></app-custom-field>
</div>