<div class="title">
    <h2>Novo Fornecedor</h2>
    <img src="assets/fornecedores.png" style="border-radius: 10px;" width="100px" alt="">
</div>

<div class="form">
    <app-custom-field label="ID" content="54wd84wd-w1dw-1w-wd4wd-5181d63" fieldType="texto"
        width="2"></app-custom-field>
    <app-custom-field label="Data de Cadastro" content="12/01/2025" [readOnly]=true fieldType="texto"
        [width]="1"></app-custom-field>
    <app-custom-field fieldType="espaco" width="7"></app-custom-field>
    <app-custom-field label="Nome" content="José Eduardo Martelli Lemos" fieldType="texto"
        [width]="2"></app-custom-field>
    <app-custom-field label="CNPJ" content="11.222.222/0001-11" fieldType="texto" [width]="2"></app-custom-field>
</div>